#header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fcfcfc;
  color: #1f1f1f;
  z-index: 100;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#nav-right ul {
  list-style: none;
  display: flex; /* Set the navigation links to use flex display */
}

#nav-right{
    margin-left: -40px;
}

#nav-right li {
  margin-left: 10px; /* Add spacing between the navigation items */
}

#nav-right a {
    position: relative; /* Dodajemo relativnu poziciju */
    text-decoration: none;
    color: #2A415D;
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: background-color 0.3s linear;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
}

#nav-right a::after { /* Promenili smo na ::after umesto ::before */
    content: ''; 
    position: absolute; 
    bottom: 8px; /* Spustili smo malo ispod teksta */
    left: 0%; 
    width: 0; 
    height: 2px;
    background-color: #FA8E51;
    transition: width 0.3s ease-in-out; /* Skratili trajanje tranzicije */
}

#nav-right a:hover::after { /* Promenili smo na ::after umesto ::before */
    width: 100%;
}

#logo{
    margin-top: 5px;
    width: 200px;
    height: 100%;
    background-image: url("ikonice_final/logo.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 15%;
}
#nav{
    margin-right: 15%;
}

#button2, #button3, #button4 {
    display: block;
    height: 50px;
    width: 120px;
    margin-left: 50px;
    border-radius: 15px;
}
#button1 {
    display: block;
    height: 50px;
    width: 120px;
    margin-left: 0px;
    border-radius: 15px;
}
#button5{
    height: 50px;
    width: 50px;
    display: none;
}
#button6{
    height: 50px;
    width: 50px;
    display: none;
}
#popup-content table {
  width: 100%;
  text-align: center;
  padding: 15px;
  margin-top: 5vh;
}

#popup-content table td {
  padding-left: 15%;
  padding-top: 40px;
  padding-right: 15%;
}
#popup-content table td a{
  font-size: 50px;
}

#popup-container {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 300vh; /* Set the height to 100% of the viewport height */
  background-color: white;
  z-index: 999;
  text-align: center;
  display: flex;
  justify-content: center; /* Horizontalno centriranje */
  align-items: center;
}

#popup-content {
  padding: 10px;
  height: 1000px;
  justify-content: center; /* Horizontalno centriranje */
  align-items: center; 
}
