#privatni_casovi_naslov{

    color: #2A415D;
    text-underline-offset: 8px;
    text-decoration: underline;
    text-decoration-color: #FA8E51;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left:15%;
margin-bottom: 20px;
}
#contact_naslov{
    color: #fcfcfc;
text-align: right;
    text-underline-offset: 8px;
    text-decoration: underline;
    text-decoration-color: #FA8E51;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}
#privatni_casovi{
    padding-top: 20px;
    text-align: justify;
    
}

#privatni_casovi_tekst1{
    margin-bottom: 30px;
    color: #1B2A3D;
    text-shadow: 0px 0.1px 0.1px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 15%;
margin-right: 15%;
padding-bottom: 30px;
padding: 20px;
    color: #1b1b1b;
    background: white;
    padding: 20px;
border-radius: 55px 0 55px 0;
font-family: Montserrat;
    font-family: "Poppins", sans-serif;

padding-left: 25px;
padding-right: 25px;
line-height: normal;
}
#privatni_casovi_final{
    
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#privatni_casovi_icon{
    flex: 0;
    margin-left: 15%;
    
    color: #fcfcfc;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

#copy_right{
    font-family: Montserrat;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #555555;
}
#privatni_casovi_naslov{
        opacity: 0;
        transform: translateX(-100%);
      transition: opacity 0.5s, transform 0.5s;
        
    }
    #contact_naslov{
        opacity: 0;
        transform: translateX(100%);
      transition: opacity 0.5s, transform 0.5s;
        
    }
    #privatni_casovi_naslov.prikazi, #contact_naslov.prikazi{
      opacity: 1;
      transform: translateX(0);
    }

    #contact{
        overflow-x: hidden;
    
    padding-top:20px;
    color: #fcfcfc;
text-align: right;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
    border-radius: 170px 0px 0px 0px;
    
    background: linear-gradient(0deg, #495B6B 35.42%, #7A8AA3 100%);
    padding-bottom: 20px;
    width: 100%;
  display: flex;
  justify-content: space-between;
}

    
    #logo_again{
        flex:6;
        height: auto;
        margin-left: 15%;
        font-size: 30px;
        color:#FA8E51;
        text-align: center;
        display: flex;
    align-items: center;
    }
    #contact_info{
        flex: 15;
text-align: right;
        margin-right: 15%;
    }